*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
}

header nav{
    height: 80px;
}

header nav ul{

    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
    height: 80px;
}

header nav ul li{
    line-height: 80px;
}


header nav ul li:hover:not(.not){
    border-bottom: 3px solid black;
} 

ul{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}


.button{
    padding: 10px;
}

.button-blu{
    color: white;
    background-color:rgba(0, 97, 255, 1);
}

.button-blu:hover{
    background-color:rgba(0, 97, 255, 0.8)  
}

.container{
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

.flex-row{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.w-30{
    flex-basis: 30%;
}

.w-70{
    flex-basis: 70%;
}

h1{
    font-size: 80px;
}

h2 {
    font-size: 45px;
}

p{
    line-height: 180%;
}

main #jumbo{
    background-color: #b7d0e8;
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;
}

main #jumbo .flex-row .w-30{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    
}

main #jumbo .flex-row .w-30 svg{
    height: 45px;
    
}

main #jumbo .flex-row{
    position: relative;
    bottom: -100px;

}


main #plane{
    padding-top: 200px;
    padding-left: 250px;
    padding-right: 150px;
}


main #plane .flex-col{
    align-items: start;
}

main #plane .flex-col .flex-row{
    align-items: center;
    gap: 20px;
}

main #offert{
    padding-top: 200px;
    padding-left: 250px;
    padding-right: 150px;
}

.box{
    border: 1px solid #D0D0D3;
    
}

.box span{
    border: 1px solid #D0D0D3;
    padding: 20px;
    padding-left: 220px;
    padding-right: 220px;
}


main .box{
    align-items: center;
}


.circle-container {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 50px auto;
    background-color: lightgray;
    border-radius: 50%;
    overflow: hidden;
}

.center-point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px; 
    border-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: 0.3s; 
}

.circle-container:hover{
    background-color: #3498db;
}

.circle-container:hover .center-point {
    opacity: 1;
}
