*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
}

header nav{
    height: 80px;
}

header nav ul{

    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
    height: 80px;
}

header nav ul li{
    line-height: 80px;
}


header nav ul li:hover:not(.not){
    border-bottom: 3px solid black;
} 

ul{
    list-style-type: none;
}

header a{
    color: black;
    text-decoration: none;
}


.button{
    padding: 10px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.button-blu{
    color: white;
    background-color:rgba(0, 97, 255, 1);
}

.button-blu:hover{
    background-color:rgba(0, 97, 255, 0.8)  
}

.container{
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

.flex-row{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.w-30{
    flex-basis: 30%;
}

.w-70{
    flex-basis: 70%;
}

h1{
    font-size: 80px;
}

h2 {
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 30px;
    color: white;
}

p{
    line-height: 180%;
}

main .offert{
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    margin: 0 auto;
}



main #jumbo{
    background-color: #b7d0e8;
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

main #jumbo .flex-row .w-30{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    
}

main #jumbo .flex-row .w-30 svg{
    height: 45px;
    fill: black;
    
}

main #jumbo .flex-row{
    position: relative;
    bottom: -100px;

}




main #plane{
    padding-top: 200px;
    padding-left: 250px;
    padding-right: 150px;
}


main #plane .flex-col{
    align-items: start;
}

main #plane .flex-col .flex-row{
    align-items: center;
    gap: 20px;
}



.circle-container {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 50px auto;
    background-color: lightgray;
    border-radius: 50%;
    overflow: hidden;
}

.center-point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px; 
    border-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: 0.3s; 
}

.circle-container:hover{
    background-color: #3498db;
}

.circle-container:hover .center-point {
    opacity: 1;
}



section{
    width: 100%;
    margin-top: 40px;
}

.left-col{
    width: calc(100% / 3);
    padding-right: 40px;
}

.central-col{
    width: calc(100% / 3);
    padding: 0px 20px;

}

.right-col{
    width: calc(100% / 3);
    padding-left: 40px;
}

.col-content{
    width: 100%;
    height: 1250px;
    border: 2px solid #999;
}

.col-header{
    border-bottom: 2px solid #999;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
}

.col-main{
    padding:  30px;
}

.prezzo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.durata{
    font-size: 15px;
    color: #999;
    margin-bottom: 60px;
}

.utenti{
    font-size: 17px;
    margin-bottom: 30px;
}

.spazio{
    font-size: 17px;
    margin-bottom: 30px;
}

.funzioni i{
    position: absolute;
    left: 0px;
    padding: 2px;
}

.funzioni{
    font-size: 17px;
    margin-bottom: 70px;
    position: relative;
    padding-left: 22px;
}

.col-main .pulsante a{
    text-align: center;
    padding: 13px 57px;
}

.buy-now{
    margin-top: 40px;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 500;
}

.buy-now span a{
    color: #0060FF;
}

.line{
    width: 70px;
    border-top: 2px solid #999;
    margin-bottom: 50px;
}

.col-main ul{
    margin-top: 30px;
}

.col-main ul li{
    margin: 30px 0px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    padding-left: 23px;
}

.col-main ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0060FF;
    position: absolute;
}


.fix-h{
    margin: 100px;
    margin-top: 200px;
}

.second-section{
    margin-top: 150px;
    height: 600px;
    
}

.photo{
    width: 50%;
    height: 500px;

}

.photo img{
    width: 100%;
}

.row-text{
    width: 50%;
    padding: 80px;
}

.row-text div{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.row-text .pulsante a{
    background-color: #fff;
    border: 2px solid #555;
    color: #555;
}



.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}

.main-title{
    font-size: 40px;
    margin-bottom: 70px;
}
.centro{
    margin: 0px 90px;
}

.row .riquadro{
    margin-top: 70px;
}

.riquadro{
    width: calc(100% / 3 - 60px);
    height: 600px;
}

.riquadro img{
    width: 100%;
    background: center;
}

.riquadro h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.riquadro div{
    font-size: 18px;
}

.riquadro div span{
    text-decoration: underline;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}

a{
    text-decoration: none;
}

.text{
    font-size: 17px;
    font-weight: 500;
}
.info{
    align-items: center;
    margin-top: 130px;
    width: 1000px;
}

.link{
    margin-top: 30px;
}

.link a{
    color: #2196F3;
    font-weight: 500;
    text-decoration: underline;
}


.company{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #eee;
}

.first-column{
    width: 30%;
    height: 550px;
}

.second-column{
    width: 40%;
    height: 550px;
    padding: 80px;
}

.second-column p{
    line-height: 25px;
    margin-bottom: 60px;
}

.second-column img{
    width: 200px;
    background: center;
    margin-bottom: 50px;
}

.third-column{
    width: 30%;
    height: 550px;
}

.square{
    width: 50%;
    height: 50%;
}

.square img{
    width: 50%;
    background: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.green{
    background-color: #94d595;
    border: 10px solid #caeacb;
}

.purple{
    background-color: #6b002b;
}

.cyan{
    background-color: #0096d3;
}

.red{
    background-color: #ff0000;
}

.orange{
    background-color: #e90006;
}

.lightblue{
    background-color: #add1ea;
}

.blue{
    background-color: #022486;
}

.yellow{
    background-color: #ffd600;
}

.company-footer{
    width: 100%;
    height: 400px;
    padding: 150px 0px;
    background-color: #add1ea;
}

.company-footer-content{
    width: 1300px;
    margin: 0 auto;
}

.company-footer-content h1{
    font-size: 40px;
    width: 600px;
    color: #6b002b;
}

.company-footer-content .pulsante{
    text-align: center;
    margin-top: 25px;
}

.company-footer-content .pulsante a{
    background-color: #eee;
    color: #333;
    padding: 10px 90px;
}


.question-section{
    width: 1300px;
    margin: 0 auto;
    margin-top: 150px;
}

.question-box{
    margin-top: 50px;
    border-top: 2px solid  #ccc;
}

.question{
    height: 120px;
    font-size: 20px;
    border-bottom: 2px solid  #ccc;
    line-height: 120px;
    font-weight: bold;
}

.question::after{
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    float: right;
    padding-right: 80px;
    color: #222;
}


footer{
    margin-top: 150px;
    width: 100%;
    background-color: #000;
    height: 500px;
    padding: 130px;
}

.footer-cont-array h1{
    color: #fff;
    margin-bottom: 30px;
}

.footer-cont-array ul li a{
    color: #fff;
    line-height: 35px;
}

.footer-cont-array{
    width: calc(100% / 5);
}


